core:
  tmp_dir: "/tmp"
  ssh_private_key_file: null
  ooni_pipeline_path: null
aws:
  access_key_id: ""
  secret_access_key: ""
  ssh_private_key_file: "private/ooni-pipeline.pem"
logging:
  filename: "ooni-sysadmin.log"
  level: "INFO"
