[core]
environment = "{{ proteus_environment }}"
log-level = "{{ proteus_log_level }}"
notify-url = "{{ proteus_notify_url }}"

[auth]
jwt-secret = "{{ proteus_auth_jwt_secret }}"

[api]
port = {{ proteus_api_port }}
address = "{{ proteus_api_address }}"

[database]
url = "{{ proteus_database_url }}"
active-probes-table = "active_probes"
probe-updates-table = "probe_updates"
jobs-table = "jobs"
tasks-table = "tasks"
accounts-table = "accounts"
