[Unit]
Description=Prometheus Scraper

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}

ExecStart={{ prometheus_path }}/prometheus \
    --config.file={{ prometheus_config_path }}/prometheus.yml \
    --web.listen-address={{ prometheus_listen_address }} \
    --web.external-url=https://mon.ooni.nu/prometheus \
    --web.route-prefix=/ \
    --web.console.templates={{ prometheus_path }}/consoles \
    --web.console.libraries={{ prometheus_path }}/console_libraries \
    --storage.tsdb.retention.time=30d \
    --storage.tsdb.path={{ prometheus_db_path }}

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
