---
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  scrape_timeout:      15s

# the path is absolute as ansible `validates` temporary file in some temporary directory
rule_files:
  - "/etc/prometheus/alert_rules.yml"
  - "/etc/prometheus/alert_ooni.yml"

alerting:
  alertmanagers:
  - static_configs:
    - targets: [ '127.0.0.1:9093' ]

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.

{% for bbjob in blackbox_jobs %}
  - job_name: "{{ bbjob.name }}"
    metrics_path: /probe
    params:
      module: [{{ bbjob.module }}]
    static_configs:
      - targets:
{% for target in (bbjob.targets|sort) %}
        - {{ target }}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        regex: (.*)(:80)?
        target_label: __param_target
        replacement: ${1}
      - source_labels: [__param_target]
        regex: (.*)
        target_label: instance
        replacement: ${1}
      - source_labels: []
        regex: .*
        target_label: __address__
        replacement: 127.0.0.1:9115
{% endfor %}

{% set onion_scrape_interval = '1m' %}
{% set onion_scrape_timeout = '45s' %}

  # DNS AAAA *.onion -> IPv6 ULA resolution is done by prometheus and not by
  # blackbox_exporter due to differences in DNS resolver libraries.  See also
  # - https://github.com/prometheus/blackbox_exporter/issues/264#issuecomment-442936583
  # - https://github.com/golang/go/blob/go1.11.2/src/net/dnsclient_unix.go#L424-L436
  - job_name: 'onion bouncer'
    scrape_interval: {{ onion_scrape_interval }}
    scrape_timeout: {{ onion_scrape_timeout }}
    metrics_path: /probe
    params: {module: [ooni_bouncer_ok]}
    dns_sd_configs:
    - type: AAAA
      port: 80
      refresh_interval: 60s # tor DNS TTL
      names:
      - nkvphnp3p6agi5qq.onion # hardcoded in app
    relabel_configs:
    - {source_labels: [__address__], target_label: __param_target, replacement: "http://${1}/bouncer/net-tests"}
    - {source_labels: [], target_label: __address__, replacement: "127.0.0.1:9115"}
    - {source_labels: [__meta_dns_name], target_label: instance, replacement: "http://${1}/bouncer/net-tests"}

  - job_name: 'onion collector'
    scrape_interval: {{ onion_scrape_interval }}
    scrape_timeout: {{ onion_scrape_timeout }}
    metrics_path: /probe
    params: {module: [ooni_collector_ok]}
    dns_sd_configs:
    - type: AAAA
      port: 80
      refresh_interval: 60s # tor DNS TTL
      names:
      - jehhrikjjqrlpufu.onion # onion of ams-ps2
      - hcn5nqahdkds6cjv.onion # onion of mia-ps2
      - guegdifjy7bjpequ.onion # onion of ams-pg.ooni.org
    relabel_configs:
    - {source_labels: [__address__], target_label: __param_target, replacement: "http://${1}/invalidpath"}
    - {source_labels: [], target_label: __address__, replacement: "127.0.0.1:9115"}
    - {source_labels: [__meta_dns_name], target_label: instance, replacement: "http://${1}/invalidpath"}

  - job_name: 'onion web-connectivity.th'
    scrape_interval: {{ onion_scrape_interval }}
    scrape_timeout: {{ onion_scrape_timeout }}
    metrics_path: /probe
    params: {module: [ooni_web_connectivity_ok]}
    dns_sd_configs:
    - type: AAAA
      port: 80
      refresh_interval: 60s # tor DNS TTL
      names:
      - o7mcp5y4ibyjkcgs.onion # onion of ams-wcth3.ooni.nu
      - y3zq5fwelrzkkv3s.onion # onion of ams-wcth2.ooni.nu
    relabel_configs:
    - {source_labels: [__address__], target_label: __param_target, replacement: "http://${1}/status"}
    - {source_labels: [], target_label: __address__, replacement: "127.0.0.1:9115"}
    - {source_labels: [__meta_dns_name], target_label: instance, replacement: "http://${1}/status"}

  - job_name: 'node'
    scrape_interval: 5s
    scheme: https
    tls_config:
      ca_file: "{{ prometheus_exporter_cert }}"
      cert_file: "{{ prometheus_ssl_dir }}/{{ inventory_hostname }}.chain"
      key_file: "{{ prometheus_ssl_dir }}/{{ inventory_hostname }}.key"
    static_configs:
      - targets:
{% for host in (groups.dom0|sort) %}
        - {{ host }}:9100
{% endfor %}

#  - job_name: 'netdata'
#    scrape_interval: 5s
#    scheme: https
#    metrics_path: /api/v1/allmetrics
#    params:
#      format: [prometheus]
#    tls_config:
#      ca_file: "{{ prometheus_exporter_cert }}"
#      cert_file: "{{ prometheus_ssl_dir }}/{{ inventory_hostname }}.chain"
#      key_file: "{{ prometheus_ssl_dir }}/{{ inventory_hostname }}.key"
#    static_configs:
#      - targets:

  - job_name: 'raw-netdata'
    scrape_interval: 5s
    scheme: http
    metrics_path: "/api/v1/allmetrics"
    params:
      format: [prometheus]
    static_configs:
      - targets:
{% for host in (groups.have_netdata|sort) %}
        - {{ host }}:19999
{% endfor %}
        - 0.th.ooni.org:19999
        - 1.th.ooni.org:19999
        - 2.th.ooni.org:19999
        - 3.th.ooni.org:19999
        # - 2.th.ooni.org:19999

  - job_name: 'test-helpers'
    scrape_interval: 5s
    scheme: http
    metrics_path: "/metrics"
    static_configs:
      - targets:
        - 0.th.ooni.org:9001
        - 1.th.ooni.org:9001
        - 2.th.ooni.org:9001
        - 3.th.ooni.org:9001

  - job_name: 'ooni-api'
    scrape_interval: 5s
    scheme: https
    static_configs:
      - targets: [ 'api.ooni.io:443' ]

  - job_name: 'ooni-web'
    scrape_interval: 5m
    scheme: https
    metrics_path: /_web.mtime.txt
    static_configs:
    - targets: # all mirrors listed in https://github.com/TheTorProject/ooni-web#ooni-web
      - ooni.io:443
      - ooni.torproject.org:443
      - openobservatory.github.io:443
      - ooni.netlify.com:443

  - job_name: 'clickhouse'
    scrape_interval: 5s
    scheme: http
    metrics_path: "/metrics"
    static_configs:
      - targets:
        - backend-fsn.ooni.org:9363

  # See ansible/roles/ooni-backend/tasks/main.yml for the scraping targets
  - job_name: 'haproxy'
    scrape_interval: 5s
    scheme: http
    metrics_path: "/__haproxy_prom_metrics"
    static_configs:
      - targets:
        - backend-hel.ooni.org:444
        - ams-pg-test.ooni.org:444

...
