[Unit]
Description=Proteus Registry service

[Service]
User={{ proteus_user }}
Group={{ proteus_group }}
ExecStart={{ proteus_path }}/proteus-registry --config {{ proteus_config_path }}/proteus-registry.toml
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
