[Unit]
Description=Orchestra Frontend service

[Service]
User={{ orchestra_user }}
Group={{ orchestra_group }}
WorkingDirectory={{ orchestra_install_path }}/orchestra/frontend/
EnvironmentFile={{ orchestra_install_path }}/orchestra-frontend.env
ExecStart=/usr/bin/node index.js
Restart=always

[Install]
WantedBy=multi-user.target
