[Unit]
Description=Proteus Orchestrate service

[Service]
User={{ orchestra_user }}
Group={{ orchestra_group }}
ExecStart={{ orchestra_path }}/ooni-orchestrate --config {{ orchestra_config_path }}/ooni-orchestrate.toml start
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
