# ansible-managed in ooni-sysadmin.git

[Unit]
Description=Prometheus Alertmanager

[Service]
User={{ alertmanager_user }}
Group={{ alertmanager_group }}
ExecStart={{ alertmanager_path }}/alertmanager -web.listen-address "{{ alertmanager_listen_address }}" -config.file "{{ alertmanager_config_path }}/alertmanager.yml" -storage.path "{{ alertmanager_data_path }}"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
