---
# ansible-managed in ooni-sysadmin.git

global:
  # The smarthost and SMTP sender used for mail notifications.
  smtp_hello: {{ inventory_hostname }}
  smtp_from: '{{ alertmanager_smtp_from }}'
  slack_api_url: '{{ alertmanager_slack_api_url }}'

# The directory from which notification templates are read.
templates:
- '{{ alertmanager_templates_path }}/*.tmpl'

# The root route on which each incoming alert enters.
route:
  # The labels by which incoming alerts are grouped together. For example,
  # multiple alerts coming in for cluster=A and alertname=LatencyHigh would
  # be batched into a single group.
  group_by: ['alertname', 'cluster', 'service']

  # When a new group of alerts is created by an incoming alert, wait at least
  # 'group_wait' to send the initial notification. This way ensures that you
  # get multiple alerts for the same group that start firing shortly after
  # another are batched together on the first notification.
  group_wait: 30s

  # When the first notification was sent, wait 'group_interval' to send a batch
  # of new alerts that started firing for that group.
  group_interval: 5m

  # If an alert has successfully been sent, wait 'repeat_interval' to
  # resend them.
  repeat_interval: 3h

  # A default receiver
  receiver: team-all

  # All the above attributes are inherited by all child routes and can
  # overwritten on each.

  # The child route trees.
  routes:
  - receiver: darkk
    match: {severity: keepalive_spb}
  - receiver: team-email
    repeat_interval: 24h
    match: {severity: info}

# Inhibition rules allow to mute a set of alerts given that another alert is
# firing.
# We use this to mute any warning-level notifications if the same alert is
# already critical.
inhibit_rules:

{# # One may expect `min` instead of `sort|first`, but that's jinja 2.10+ and 2.8 is used now. #}
{% set am_mx_darkk = (lookup('dig', 'darkk.net.ru/MX', 'flat=0') | sort(attribute='preference') | first).exchange.rstrip('.').lower() %}
{% set am_mx_openobservatory = (lookup('dig', 'openobservatory.org/MX', 'flat=0') | sort(attribute='preference') | first).exchange.rstrip('.').lower() %}

receivers:
- name: 'team-all'
  email_configs:
  - to: 'leon+oonialert@darkk.net.ru' # AKA leonid@openobservatory.org
    send_resolved: true
    smarthost: {{ am_mx_darkk }}:25
{% for u in ['arturo', 'simone', 'vasilis'] %}
  - to: '{{ u }}@openobservatory.org'
    send_resolved: true
    smarthost: {{ am_mx_openobservatory }}:25
{% endfor %}
  slack_configs:
  - send_resolved: true
    text: '{% raw %}{{ template "slack.ooni.text" . }}{% endraw %}'
    title: '{% raw %}{{ template "slack.ooni.title" . }}{% endraw %}'
    channel: '#ooni-bots'

- name: 'team-email' # no slack
  email_configs:
  - to: 'leon+oonialert@darkk.net.ru' # AKA leonid@openobservatory.org
    send_resolved: true
    smarthost: {{ am_mx_darkk }}:25
{% for u in ['arturo', 'simone', 'vasilis'] %}
  - to: '{{ u }}@openobservatory.org'
    send_resolved: true
    smarthost: {{ am_mx_openobservatory }}:25
{% endfor %}

- name: darkk
  email_configs:
  - to: 'leon+oonialert@darkk.net.ru' # AKA leonid@openobservatory.org
    send_resolved: false
    smarthost: {{ am_mx_darkk }}:25
...
