helpers:
  daphn3:
    address: null
    pcap_file: null
    port: 57003
    yaml_file: null
  dns:
    address: null
    resolver_address: 8.8.8.8:53
    tcp_port: null
    udp_port: null
  dns_discovery:
    address: null
    resolver_address: null
    tcp_port: null
    udp_port: null
  http-return-json-headers:
    address: null
    port: null
    server_version: Apache
  ssl:
    address: null
    certificate: null
    private_key: null
    port: null
  tcp-echo:
    address: null
    port: null
  web_connectivity:
    endpoints:
      - {type: tcp, port: {{ web_connectivity_port }} }

main:
  archive_dir: {{ web_connectivity_data_dir}}/archive
  bouncer_file: null
  chroot: null
  debug: false
  deck_dir: {{ web_connectivity_data_dir }}/decks
  euid: null
  gid: null
  input_dir: {{ web_connectivity_data_dir }}/inputs
  logfile: {{ web_connectivity_data_dir }}/logs/oonibackend.log
  no_save: true
  nodaemon: true
  originalname: null
  pidfile: {{ web_connectivity_data_dir }}/oonib.pid
  policy_file: null
  profile: null
  report_dir: {{ web_connectivity_data_dir }}/raw_reports
  rundir: .
  socks_port: 9055
  stale_time: 3600
  tor2webmode: false
  tor_binary: null
  tor_datadir: {{ web_connectivity_data_dir }}/tor
  tor_hidden_service: true
  uid: null
  umask: null

  bouncer_endpoints: []
  collector_endpoints: []

  report_file_template: '{iso8601_timestamp}-{test_name}-{report_id}-{probe_asn}-{probe_cc}-probe-0.2.0.{ext}'
