{{ define "slack.ooni.text" }}
{{ range .Alerts }}
{{ .Annotations.description }}
{{ end }}
{{ end }}

{{ define "slack.ooni.title" }}
{{ range .Alerts }}
{{ if eq .Status "resolved" }}[RESOLVED] {{ else }}[FIRING] {{ end }}{{ .Annotations.summary }}{{ end }}
{{ end }}
