[security]

# These should allow for iframe embedding of pages, but doesn't work.
# see: https://grafana.com/docs/grafana/latest/dashboards/share-panel/#embed-panel
#allow_embedding = true
#cookie_samesite = lax
#cookie_secure = true
