[Unit]
Description=Prometheus Blackbox Exporter

[Service]
User=nobody
Group=nogroup
EnvironmentFile=-/etc/default/blackbox_exporter
PermissionsStartOnly=true
ExecStartPre=/sbin/setcap 'cap_net_raw+ep' {{ blackbox_exporter_path }}/blackbox_exporter
ExecStart={{ blackbox_exporter_path }}/blackbox_exporter -config.file {{ blackbox_exporter_install_path }}/blackbox.yml -web.listen-address 127.0.0.1:9115
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
