[Unit]
Description=Prometheus Node Exporter

[Service]
User=nobody
Group=nogroup
EnvironmentFile=-/etc/default/node_exporter
ExecStart={{ node_exporter_path }}/node_exporter -collectors.enabled ${COLLECTORS} -collector.textfile.directory {{ node_exporter_textfiles_path }}
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
