[Unit]
Description=Prometheus Node Exporter

[Service]
# `ExecStartPre=!` to gain privileges is systemd >= 231, ubuntu 16.04 ships 229-4ubuntu17
PermissionsStartOnly=true
User=nodeexp
Group=nodeexp

ExecStartPre=/usr/bin/install --owner root --group root --mode 0755 --directory {{ node_exporter_textfiles_path }}

ExecStart={{ node_exporter_path }}/node_exporter \
  {{ node_exporter_collectors | trim }} \
  {{ node_exporter_disk_ignored }} \
  --collector.textfile.directory {{ node_exporter_textfiles_path }} \
  --web.listen-address {{ node_exporter_listen_address }}

KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
