{% set cleanness = 'dirty' if lookup('pipe', 'git status -s') else 'clean' %}
{% set head = lookup('pipe', 'git rev-parse HEAD') %}
{% set head7 = lookup('pipe', 'git rev-parse --short HEAD') %}
{% set branch = lookup('pipe', 'git describe --always --exact-match --all HEAD') | replace('heads/', '') %}
{% set user_slug = lookup('pipe', 'whoami') + '@' + lookup('pipe', 'hostname') %}
{% if lookup('file', '~/.ooni-sysadmin/user_slug', errors='ignore') %}
{% set user_slug = lookup('file', '~/.ooni-sysadmin/user_slug') %}
{% endif %}

{{ user_slug }} runs `{{ lookup('env', 'ANSIBLE_SLACK_CMD') }}` on top of {{ cleanness }} `<https://github.com/ooni/sysadmin/commit/{{ head }}|{{ head7 }}>` (`{{ branch }}`)
