{% set echo_th = lookup('dig', 'echoth.ooni.io/A') %}
{% set http_th = lookup('dig', 'httpth.ooni.io/A') %}
collector:
  httpo://ganriuwqt5vgbgnj.onion:
    collector-alternate:
    - {address: 'https://b.collector.ooni.io:443', type: https}
    - {address: 'https://dkyhjv0wpi2dk.cloudfront.net', front: dkyhjv0wpi2dk.cloudfront.net, type: cloudfront}
    test-helper:
      dns: '{{ echo_th }}:57004'
      http-return-json-headers: 'http://{{ http_th }}:80'
      ssl: 'https://{{ echo_th }}'
      tcp-echo: {{ echo_th }}
      traceroute: {{ echo_th }}
      web-connectivity: 'httpo://o7mcp5y4ibyjkcgs.onion'
    test-helper-alternate:
      web-connectivity:
      - {address: 'https://wcth.ooni.io', type: https}
      - {address: 'https://d33d1gs9kpq1c5.cloudfront.net', front: d33d1gs9kpq1c5.cloudfront.net, type: cloudfront}

  httpo://42q7ug46dspcsvkw.onion:
    collector-alternate:
    - {address: 'https://collector.ooni.io:443', type: https}
    - {address: 'https://dkyhjv0wpi2dk.cloudfront.net', front: dkyhjv0wpi2dk.cloudfront.net, type: cloudfront}
    test-helper:
      dns: '{{ echo_th }}:57004'
      http-return-json-headers: 'http://{{ http_th }}:80'
      ssl: 'https://{{ echo_th }}'
      tcp-echo: {{ echo_th }}
      traceroute: {{ echo_th }}
      web-connectivity: 'httpo://o7mcp5y4ibyjkcgs.onion'
    test-helper-alternate:
      web-connectivity:
      - {address: 'https://wcth.ooni.io', type: https}
      - {address: 'https://d33d1gs9kpq1c5.cloudfront.net', front: d33d1gs9kpq1c5.cloudfront.net, type: cloudfront}
