collector:
  httpo://42q7ug46dspcsvkw.onion:
    collector-alternate:
    - {address: 'https://c.collector.ooni.io:443', type: https}
    - {address: 'https://das0y2z2ribx3.cloudfront.net', front: a0.awsstatic.com, type: cloudfront}
    test-helper: {dns: '37.218.247.110:57004', http-return-json-headers: 'http://37.218.247.95:80',
      ssl: 'https://37.218.247.110', tcp-echo: 37.218.247.110, traceroute: 37.218.247.110,
      web-connectivity: 'httpo://2lzg3f4r3eapfi6j.onion'}
    test-helper-alternate:
      web-connectivity:
      - {address: 'https://b.web-connectivity.th.ooni.io:443', type: https}
      - {address: 'https://d2vt18apel48hw.cloudfront.net', front: a0.awsstatic.com, type: cloudfront}
