{% set echo_th = lookup('dig', 'echoth.ooni.io/A') %}
{% set http_th = lookup('dig', 'httpth.ooni.io/A') %}
collector:
  httpo://ganriuwqt5vgbgnj.onion:
    collector-alternate:
    - {address: 'https://b.collector.ooni.io:443', type: https}
    - {address: 'https://das0y2z2ribx3.cloudfront.net', front: a0.awsstatic.com, type: cloudfront}
    test-helper:
      dns: '{{ echo_th }}:57004'
      http-return-json-headers: 'http://{{ http_th }}:80'
      ssl: 'https://{{ echo_th }}'
      tcp-echo: {{ echo_th }}
      traceroute: {{ echo_th }}
      web-connectivity: 'httpo://o7mcp5y4ibyjkcgs.onion'
    test-helper-alternate:
      web-connectivity:
      - {address: 'https://mia-wcth.ooni.io', type: https}
      - {address: 'https://d2vt18apel48hw.cloudfront.net', front: a0.awsstatic.com, type: cloudfront}

  httpo://42q7ug46dspcsvkw.onion:
    collector-alternate:
    - {address: 'https://c.collector.ooni.io:443', type: https}
    - {address: 'https://das0y2z2ribx3.cloudfront.net', front: a0.awsstatic.com, type: cloudfront}
    test-helper:
      dns: '{{ echo_th }}:57004'
      http-return-json-headers: 'http://{{ http_th }}:80'
      ssl: 'https://{{ echo_th }}'
      tcp-echo: {{ echo_th }}
      traceroute: {{ echo_th }}
      web-connectivity: 'httpo://o7mcp5y4ibyjkcgs.onion'
    test-helper-alternate:
      web-connectivity:
      - {address: 'https://mia-wcth.ooni.io', type: https}
      - {address: 'https://d2vt18apel48hw.cloudfront.net', front: a0.awsstatic.com, type: cloudfront}
