# ansible-managed in ooni-sysadmin.git
# pirated from nginx-common=1.6.2-5+deb8u4 /lib/systemd/system/nginx.service

# Stop dance for nginx
# =======================
#
# ExecStop sends SIGSTOP (graceful stop) to the nginx process.
# If, after 5s (--retry QUIT/5) nginx is still running, systemd takes control
# and sends SIGTERM (fast shutdown) to the main process.
# After another 5s (TimeoutStopSec=5), and if nginx is alive, systemd sends
# SIGKILL to all the remaining processes in the process group (KillMode=mixed).
#
# nginx signals reference doc:
# http://nginx.org/en/docs/control.html

[Unit]
Description=Separate nginx instance for Prometheus Exporters
After=network.target

[Service]
Type=forking
PIDFile=/run/nginx-prometheus.pid
ExecStartPre=/usr/sbin/nginx -t -q -c {{ ngxprom_base }}/nginx.conf -g 'daemon on; master_process on;'
ExecStart=/usr/sbin/nginx -c {{ ngxprom_base }}/nginx.conf -g 'daemon on; master_process on;'
ExecReload=/usr/sbin/nginx -c {{ ngxprom_base }}/nginx.conf -g 'daemon on; master_process on;' -s reload
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/nginx-prometheus.pid
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
