---
- name: install stable nginx
  apt:
    name: nginx
    cache_valid_time: 86400

# https://ssl-config.mozilla.org/#server=nginx&version=1.14.2&config=intermediate&openssl=1.1.1d&guideline=5.4
#
# Guide https://wiki.mozilla.org/Security/Server_Side_TLS#Pre-defined_DHE_groups
# suggests ffdhe2048 instead of `openssl dhparam` to avoid https://weakdh.org/
- name: copy nginx configuration snippets
  copy: src={{item}}  dest=/etc/nginx/{{ item }} mode=0444 owner=root group=root
  with_items:
    - ffdhe2048_dhparam.pem # ffdhe2048 Diffie-Hellman parameters
    - ssl_intermediate.conf
    - ssl_modern.conf

- name: remove `default` vhost
  file: path={{item}} state=absent
  notify: reload nginx
  with_items:
    - /etc/nginx/conf.d/default.conf
    - /etc/nginx/sites-available/default
    - /etc/nginx/sites-enabled/default

- name: set nginx.conf
  template:
    src=nginx.conf
    dest=/etc/nginx/nginx.conf
    mode=0444
  notify: restart nginx
...
