server {
    server_name _;

    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;

    ssl_certificate /etc/letsencrypt/live/{{ letsencrypt_domains.split(',')[0] }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ letsencrypt_domains.split(',')[0] }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ letsencrypt_domains.split(',')[0] }}/fullchain.pem;

  root  {{ grav_install_path }}/grav-admin;
  index  index.php index.html;

  ## Begin - Index
  # for subfolders, simply adjust the rewrite:
  # to use `/subfolder/index.php`
  location / {
      try_files $uri $uri/ /index.php?_url=$uri;
  }
  ## End - Index

  ## Begin - PHP
  location ~ \.php$ {
      # Choose either a socket or TCP/IP address
      fastcgi_pass unix:/var/run/php5-fpm.sock;
      # fastcgi_pass 127.0.0.1:9000;

      fastcgi_index index.php;
      fastcgi_split_path_info ^(.+\.php)(/.+)$;
      fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host            $host;
      include fastcgi_params;
  }
  ## End - PHP

  ## Begin - Security
  # deny all direct access for these folders
  location ~* /(.git|cache|bin|logs|backups)/.*$ { return 403; }
  # deny running scripts inside core system folders
  location ~* /(system|vendor)/.*\.(txt|xml|md|html|yaml|php|pl|py|cgi|twig|sh|bat)$ { return 403; }
  # deny running scripts inside user folder
  location ~* /user/.*\.(txt|md|yaml|php|pl|py|cgi|twig|sh|bat)$ { return 403; }
  # deny access to specific files in the root folder
  location ~ /(LICENSE|composer.lock|composer.json|nginx.conf|web.config|htaccess.txt|\.htaccess) { return 403; }
  ## End - Security

}
