# ansible-managed in ooni-sysadmin.git
{% set sshd_v1_deprecated = 'Deprecated option ServerKeyBits' in sshd_v1.stderr %}{# Deprecated in OpenSSH_7.4p1 #}

# Package generated configuration file
# See the sshd_config(5) manpage for details

# What ports, IPs and protocols we listen for
Port 22
{% for p in sshd_extra_ports %}
Port {{ p }}
{% endfor %}
# Use these options to restrict which interfaces/protocols sshd will bind to
#ListenAddress ::
#ListenAddress 0.0.0.0
Protocol 2
# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key
# HostKey /etc/ssh/ssh_host_dsa_key # disabled as DSA is possibly broken -- https://security.stackexchange.com/questions/5096/rsa-vs-dsa-for-ssh-authentication-keys
# HostKey /etc/ssh/ssh_host_ecdsa_key # disabled as ECDSA is not NSA-proof :-) following *.tpo sshd config
{% if ed25519_pub.stat.exists  %}
HostKey /etc/ssh/ssh_host_ed25519_key
{% else %}
# HostKey /etc/ssh/ssh_host_ed25519_key # not suported :-( OpenSSH 6.5+ is required
{% endif %}
#Privilege Separation is turned on for security
UsePrivilegeSeparation yes

{% if not sshd_v1_deprecated %}
# Lifetime and size of ephemeral version 1 server key
KeyRegenerationInterval 3600
ServerKeyBits 1024
{% endif %}

# Logging
SyslogFacility AUTH
LogLevel INFO # Old versions of sshd do not log SSH key fingerprint with INFO, and that's useful when `root` user is used. Modern do.

# Authentication:
LoginGraceTime 120
PermitRootLogin without-password
StrictModes yes

{% if not sshd_v1_deprecated %}
RSAAuthentication yes
{% endif %}
PubkeyAuthentication yes
#AuthorizedKeysFile	%h/.ssh/authorized_keys # TODO: *.tpo has nice idea of global `AuthorizedKeysFile /etc/ssh/userkeys/%u`

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes
{% if not sshd_v1_deprecated %}
# For this to work you will also need host keys in /etc/ssh_known_hosts
RhostsRSAAuthentication no
{% endif %}
# similar for protocol version 2
HostbasedAuthentication no
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
#IgnoreUserKnownHosts yes

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

# Change to no to disable tunnelled clear text passwords
PasswordAuthentication no # we don't use passwords for SSH auth in OONI infra

# Kerberos options
#KerberosAuthentication no
#KerberosGetAFSToken no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes

X11Forwarding yes
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
#UseLogin no

#MaxStartups 10:30:60
#Banner /etc/issue.net

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM yes

UseDNS no # To kill useless `reverse mapping checking getaddrinfo for ... failed` and reduce login latency.
