---
- hosts: all
  connection: local
  gather_facts: false
  tags: always
  tasks:
    - name: "notify #ooni-bots at openobservatory.slack.com"
      slack:
        token: "{{ ansible_slack_token }}"
        channel: "#ooni-bots"
        msg: "{{ lookup('template', 'ansible-playbook-slack.j2') }}"
      delegate_to: localhost
      run_once: true
      when: lookup('env', 'TRAVIS_VAULT_SECRET' ) | length == 0
...
