# -*- mode: nginx; mode: flyspell-prog; mode: autopair; ispell-local-dictionary: "american" -*-
### Nginx configuration for Piwik.

server {
    server_name {{ server_name}};

    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;

    ssl_certificate /etc/letsencrypt/live/{{ letsencrypt_domains.split(',')[0] }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ letsencrypt_domains.split(',')[0] }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ letsencrypt_domains.split(',')[0] }}/fullchain.pem;


    ## listen [fe80::202:b3ff:fe1e:8329]:80 ipv6only=on;

    limit_conn arbeit 64;

    ## Access and error log files.
    access_log /var/log/nginx/{{ server_name }}_access.log;
    error_log /var/log/nginx/{{ server_name }}_error.log;

    ## See the blacklist.conf file at the parent dir: /etc/nginx.
    ## Deny access based on the User-Agent header.

    ## -> Uncomment the lines below to enable bad bot blocking based
    ## on UA string.
    # if ($bad_bot) {
    #     return 444;
    # }
    ## -> Uncomment the lines below to enable bad bot blocking based
    ## on referer header.
    ## Deny access based on the Referer header.
    # if ($bad_referer) {
    #     return 444;
    # }

    root  {{ app_path }}/current/piwik;
    index index.php;

    ## Include the piwik configuration.
    include apps/piwik/piwik.conf;

} # server
