#!/bin/bash

set -eu

convertsecs() {
 ((h=${1}/3600))
 ((m=(${1}%3600)/60))
 ((s=${1}%60))
 printf "%02d:%02d:%02d\n" $h $m $s
}

LOGFILE="{{ collector_data_dir }}/logs/daily-task.log"
export PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

START_TIME=$(date +%s)
echo "$(date +"%Y-%m-%d %H:%M:%S"): Starting archive to renamed" >> $LOGFILE
{{ collector_data_dir }}/bin/archive-to-renamed.py
END_TIME=$(date +%s)
RUNTIME_SECS=$(( END_TIME - START_TIME ))
RUNTIME=$(convertsecs $RUNTIME_SECS)
# This is a bit sub-optimal
chmod -R 777 {{ collector_data_dir }}/renamed/*
echo "DONE archive-to-renamed: $RUNTIME $RUNTIME_SECS" >> $LOGFILE
