command="$HOME/bin/rrsync {{ collector_data_dir }}/renamed/",no-port-forwarding,no-x11-forwarding,no-agent-forwarding,no-pty,no-user-rc ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC9d5K2hHbiTJthJ9Ds5t0+1pLYzEYxVlvZGJNYw2vNOyzTV4MNocdwRQMzE/DS6m2X6QkVeaav2idZ/vgtCmjzoEA4pVGknAmnvjmSuZPDELteSPz59d7hrR6VBtC3zy91pewgFG+fhnE3SxNoAgmKS0hmz27/Q+wqww5UHkICE/0NIGCYIHMKYiFQAdOISZKLJWTWFWvk20pfu7BS08sRzjczTCU+2iExpZR5vfd9nTGwRX9VjYni+NUn0rWjAFhsOPjPz/FmjYUhFZADj/OwVr65F4tzmXDsuQDBRm+ev10h0XzNeJzd4SOZd60F2oclD7hyayz7tDgYXlKbqfqF soli@chameleon
