collector:
  httpo://{{ collector_hs }}:
{% if enable_collector_alternate | default('') %}
    collector-alternate:
    - { address: 'https://{{ collector_domain }}:{{ tls_collector_port }}', type: 'https'}
    - { address: 'http://{{ collector_domain }}:{{ tcp_collector_port }}', type: 'http'}
{% endif %}
    test-helper:
      {dns: '{{ dns_test_helper_address }}',
       http-return-json-headers: '{{ http_return_json_headers_address }}',
{% if enable_ssl_helper | default('') %}
       ssl: '{{ ssl_address }}',
{% endif %}
       tcp-echo: '{{ tcp_echo_address }}',
{% if enable_web_connectivity | default('') %}
       web-connectivity: '{{ web_connectivity_hs }}',
{% endif %}
       traceroute: '{{ traceroute_address }}'}
{% if enable_tls_web_connectivity | default('') %}
    test-helper-alternate:
      web-connectivity:
      - {address: '{{ web_connectivity_hs }}', type: 'onion'}
      - {address: 'https://{{ web_connectivity_domain }}:{{ tls_web_connectivity_port }}', type: 'https'}
      - {address: 'http://{{ web_connectivity_domain }}:{{ tcp_web_connectivity_port }}', type: 'http'}
{% endif %}
