[program:oonib]
directory={{ oonibackend_install_path }}
command={{ oonibackend_install_path }}/exec {{ oonibackend_install_path }}/bin/oonib -c {{ oonibackend_conf }}
autostart=true
autorestart=true
