helpers:
  daphn3:
    address: null
    pcap_file: null
{% if enable_daphn3_helper %}
    port: {{ daphn3_port }}
{% else %}
    port: null
{% endif %}
    yaml_file: null
  dns:
    address: null
    resolver_address: {{ dns_resolver_address }}
{% if enable_dns_helper %}
    tcp_port: {{ dns_port_tcp }}
    udp_port: {{ dns_port_udp }}
{% else %}
    tcp_port: null
    udp_port: null
{% endif %}
  dns_discovery:
    address: null
    resolver_address: null
{% if enable_dns_discovery_helper %}
    tcp_port: {{ dns_discover_port_tcp }}
    udp_port: {{ dns_discover_port_udp }}
{% else %}
    tcp_port: null
    udp_port: null
{% endif %}
  http-return-json-headers:
    address: null
{% if enable_http_return_json_headers_helper %}
    port: {{ http_return_json_headers_port }}
{% else %}
    port: null
{% endif %}
    server_version: Apache
  ssl:
    address: null
    certificate: certificate.crt
    private_key: private.key
{% if enable_ssl_helper %}
    port: {{ ssl_port }}
{% else %}
    port: null
{% endif %}
  tcp-echo:
    address: null
{% if enable_tcp_echo_helper %}
    port: {{ tcp_echo_port }}
{% else %}
    port: null
{% endif %}
{% if enable_web_connectivity %}
  web_connectivity:
      endpoints:
      - {type: onion, hsdir: "{{ web_connectivity_hsdir }}"}
{% endif %}
{% if enable_tls_web_connectivity %}
      - {type: tls, port: {{ tls_web_connectivity_port }}, fullchain: "{{ tls_web_connectivity_fullchain }}", privkey: "{{ tls_web_connectivity_privkey }}"}
      - {type: tcp, port: {{ tcp_web_connectivity_port }}}
{% endif %}
main:
  archive_dir: {{ archive_dir }}
{% if enable_bouncer %}
  bouncer_file: {{ bouncer_file }}
{% else %}
  bouncer_file: null
{% endif %}
  chroot: null
  debug: false
  deck_dir: {{ deck_dir }}
  euid: null
  gid: null
  input_dir: {{ input_dir }}
  logfile: {{ oonibackend_log_path }}/{{ oonibackend_log_file_name }}
  no_save: true
  nodaemon: true
  originalname: null
  pidfile: oonib.pid
{% if enable_policy %}
  policy_file: {{ policy_file }}
{% else %}
  policy_file: null
{% endif %}
  profile: null
  report_dir: {{ report_dir }}
  rundir: .
  socks_port: 9055
  stale_time: 3600
  tor2webmode: false
  tor_binary: null
  tor_datadir: {{ tor_datadir }}
  tor_hidden_service: true
  uid: null
  umask: null

  bouncer_endpoints:
{% if enable_tls_bouncer %}
  - {type: tls, port: {{ tls_bouncer_port }}, fullchain: "{{ tls_bouncer_fullchain }}", privkey: "{{ tls_bouncer_privkey }}"}
  - {type: tcp, port: {{ tcp_bouncer_port }}}
{% endif %}
  - {type: onion, hsdir: "{{ bouncer_hsdir }}"}

  collector_endpoints:
{% if enable_tls_collector %}
  - {type: tls, port: {{ tls_collector_port }}, fullchain: "{{ tls_collector_fullchain  }}", privkey: "{{ tls_collector_privkey }}"}
  - {type: tcp, port: {{ tcp_collector_port }}}
{% endif %}
  - {type: onion, hsdir: "{{ collector_hsdir }}"}

  report_file_template: '{iso8601_timestamp}-{test_name}-{report_id}-{probe_asn}-{probe_cc}-probe-0.2.0.{ext}'
