[core]
environment = "{{ proteus_environment }}"
log-level = "{{ proteus_log_level }}"
gorush-url = "{{ proteus_notify_url }}"
notify-topic-ios = "{{ proteus_notify_topic_ios }}"
notify-click-action-android = "{{ proteus_notify_click_action_android }}"

[auth]
jwt-secret = "{{ proteus_auth_jwt_secret }}"
gorush-basic-auth-user = "{{ proteus_notify_basic_auth_user }}"
gorush-basic-auth-password = "{{ proteus_notify_basic_auth_password }}"

[api]
port = {{ proteus_api_port }}
address = "{{ proteus_api_address }}"

[database]
url = "{{ proteus_database_url }}"
