[Unit]
Description=Proteus Orchestrate service

[Service]
User={{ proteus_user }}
Group={{ proteus_group }}
ExecStart={{ proteus_path }}/proteus-orchestrate --config {{ proteus_config_path }}/proteus-orchestrate.toml start
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
