[Unit]
Description=GoRush Notify service
After=network.target

[Service]
User={{ proteus_user }}
Group={{ proteus_group }}
ExecStart={{ gorush_path}} --config {{ proteus_config_path }}/gorush.yml
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gorush

[Install]
WantedBy=multi-user.target
